.toolbarclass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f7249;
    font-size: 16px;
    height: 56px;

    .mat-icon,
    .dialog-title {
        color: #fff !important;
    }
}

.toolbar-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.toolbar-icon-button {
    margin-right: 0%;
    min-width: 30px;
    line-height: 14px !important;
    padding: 0 0px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px !important;
    border-radius: 4px !important;

    .material-icons {
        font-size: var(--icon-size);
        margin-right: 0px !important;
        color: var(--icon-color);
    }
}

.dialog-body {
    padding: 24px;
    height: 70vh;
    overflow: auto;

}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.action-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel-button {
    background-image: linear-gradient(to left top, #aed5ee, #ffffff);
    border: 1px solid #aed5ee;
    font-size: 13px;
}

.submit-button {
    background-image: linear-gradient(to left top, #002817, #1eb879);
    color: #fff;
    font-size: 13px;
}