<div>
    <h1>todo</h1>
    <mat-toolbar class="toolbarclass">
            <div *ngIf="!isTaskDetails" class="toolbar-title">
                <mat-icon>add_box</mat-icon>
                <span cdkFocusInitial class="dialog-title">Create New Task</span>
            </div>
            <div *ngIf="isTaskDetails">
                <i style="font-size: 15px !important;"
                    class="fas fa-list mb-3 animated rotateIn dialog-animated-icon"></i>
                <span cdkFocusInitial class="dialog-title">Task Details</span>
            </div>
            <button mat-button class="toolbar-icon-button" (click)="onCancel()">
                <mat-icon class="dialog-close-icon">close</mat-icon>
            </button>
    </mat-toolbar>
    <div>
        
    </div>
</div>